
/******************************
*         Jumbotron           *
******************************/

.bg-night {
    background-color: #000000;
  
}

/******************************
*   Create an account modal   *
******************************/
div.modal-hover:hover {
  background: #99ebff;
}

.modal-height {
  height: 100px;
}

.align-vertical {
  vertical-align: middle;
}